In [ ]:
# manejemos una lista
numeros = [1,5,6,4,6,2,1]
indice = 4

numeros.index(indice)

3

#** COLECCIONES **

## **En esta unidad vamos a estar estudiando las diferentes colecciónes que podemos trabajar en python.**

*   Tuplas --> https://ellibrodepython.com/tuplas-python
*   Conjuntos --> https://ellibrodepython.com/sets-python
*   Diccionarios --> https://ellibrodepython.com/diccionarios-en-python#diccionario

In [ ]:
"""
Bueno, una tupla es una colección ordenada, inmutable de elementos:
- Ordenada : los elementos tienen un indice fijo(como una lista)
- Inmutable: Una vez creada, no puedes modificar, agregar ni eliminar los elementos de la tupla
- permite duplicados: Puedes tener elementos repetidos
- Para inicalizar una tupla lo hacemos con : ()

"""

# crear tuplas:
tupla_1 = (1,2,3,5)
tupla_2 = (1, float, 2.133, [1,2])
tupla_3 = (1,2,2,3,2,1,2)

# tambien se puede crear una tupla sin parentesis

tupla_4 = 1, 4, 3 , 2

# una tupla de un solo elemento

tu = (1,)
no_tupla  = (5) # entero

# acceder a los elementos (indexación y slicing)
colores = ("rojo", "amarillo", "verde", "azul", "rosado")
print(colores)
print(colores[3:])
print(colores[:3])

('rojo', 'amarillo', 'verde', 'azul', 'rosado')
('azul', 'rosado')
('rojo', 'amarillo', 'verde')

In [ ]:
# Vamos a iterar sobre una tupla

animales = ("gato", "perro", "loro")
# for animal in animales:
#   print(animal)


for indice, animal in enumerate(animales):
  print(f"{indice} : {animal}")

0 : gato
1 : perro
2 : loro

In [ ]:
# Desempaquetar tuplas
# puedes asignar los valores de una tupla directamente a variables individuales

persona =  ("Alex", 25, "colombia")
nombre, edad, pais = persona

print(nombre)
print(edad)
print(pais)

# Incluso puedes usar el * (asterisco) para capturar varios valores:

valores = (10, 20, 30, 40, 12, 50, 60, 80)
a, *b, c = valores

print(a)
print(b)
print(c)

Alex
25
colombia
10
[20, 30, 40, 12, 50, 60]
80

In [ ]:
# Inmutabilidad
colores = ("rojo", "verde", "azul")
# colores[1] = "amarillo" ❌ ERROR


lista_colores = list(colores)
lista_colores[2] = "Blanco"
colores = tuple(lista_colores)
print(colores)
# ('rojo', 'amarillo', 'azul')

('rojo', 'verde', 'Blanco')

In [ ]:
# si se quiere modificar la tupla la debemos convertir en lista

nombres = ("Ana", "Luis", "Carlos", "Marta", "Sofía", "Jorge", "Lucía", "Pedro", "Elena", "Diego")
type(nombres)
nombres = list(nombres)
nombres[2] = "Alex"
nombres

['Ana',
 'Luis',
 'Alex',
 'Marta',
 'Sofía',
 'Jorge',
 'Lucía',
 'Pedro',
 'Elena',
 'Diego']

In [ ]:
# Métodos disponibles
# Las tuplas solo tienen dos métodos principales (por ser inmutables):

numeros = (1, 2, 2, 1, 4, 2, 3)
print(numeros.count(2))   # 3 → cuenta cuántas veces aparece el 2
print(numeros.index(3))   # 3 → devuelve el índice de la primera aparición de 3

3
6

In [ ]:
# tambien podemos cancatenar

tupla_5 = (1,2,3,4,5)
tupla_6= (6,7,8,9,)
tupla_7 = (10, )
tupla_general = tupla_5 + tupla_6 + tupla_7
tupla_general

#====== REPETIR ==========#

print(tupla_5 * 3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
# comprabar existencia

nombres = tuple(nombres)

if "Juan"  not in nombres:
  print("es correcto")
else:
  print("Es falso")

es correcto

In [ ]:
# tuplas anidadas

cordenandas = ((1,2), (2,7), (5,7), (8,9))

for x, y in cordenandas:
  print(f" x = {x}, y: {y}")

 x = 1, y: 2
 x = 2, y: 7
 x = 5, y: 7
 x = 8, y: 9

In [ ]:
# Tuplas como claves en diccionario
# las tuplas pueden usarse como claves, porque son inmutable(las listas no)

puntos = {
    (0, 0): "origen",
    (1, 2): "punto A",
    (3, 4): "punto B"
}

print(puntos[(1, 2)])  # punto A

punto A

In [ ]:
#Comparar tuplas

a = (1, 2, 3)
b = (1, 3, 2)

print( a == b)
print( a < b )
print(a != b)
print(a >= b)

False
True
True
False

In [ ]:
# Tuplas y funciones (devolución múltiples
# Las funciones pueden devolver varias cosas a la vez usando tuplas implícitas.

def dividir_y_residuo(x, y):
  return x // y, x % y # devuelve una tupla

cociente, residuo = dividir_y_residuo(10, 3)
print(cociente, residuo)


# conversion de tipos

lista = [1, 2, 3]
tupla = tuple(lista)
print(tupla)  # (1, 2, 3)

cadena = "Hola"
print(tuple(cadena))  # ('H', 'o', 'l', 'a')

3 1
(1, 2, 3)
('H', 'o', 'l', 'a')

In [ ]:
# ejemplo completo :

personas = (
    ("Ana", 25, "Medellín"),
    ("Luis", 30, "Bogotá"),
    ("Carlos", 28, "Cali")
)

for people, age, city in personas:
  print(f"{people} tiene una de edad de {age} y vive en {city} ")

Ana tiene una de edad de 25 y vive en Medellín
Luis tiene una de edad de 30 y vive en Bogotá
Carlos tiene una de edad de 28 y vive en Cali